@use '../utilities/colors' as color;

.auth {
  background: #f5f5f5;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  .logo {
    width: 160px;
    margin: 80px auto;
    img {
      width: 100%;
    }
  }
  .auth-modal {
    padding: 40px 60px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 24px 48px rgba(0, 0, 0, 0.12);
    width: 360px;
    margin: 0 auto;
    &.success {
      button {
        margin: 0 auto;
      }
    }
    h1 {
      font-size: 24px;
      font-weight: 500;
      color: color.$text-100;
      text-align: center;
      margin-bottom: 40px;
    }
    p {
      text-align: center;
      margin-bottom: 20px;
      font-size: 14px;
      margin-top: -22px;
      &.error {
        margin-top: 0;
        color: color.$danger;
        font-size: 13px;
        margin-bottom: 12px;
      }
    }
    form {
      display: flex;
      flex-direction: column;
      input {
        height: 40px;
        width: 100%;
        border-radius: 20px;
        border: 1px solid color.$border;
        font-size: 12px;
        padding: 0 20px;
        outline: none;
        margin-bottom: 12px;

        &.error {
          border-color: color.$danger;
          background-color: color.$danger-light;
        }
        &::placeholder {
          color: color.$text-700;
        }
      }
    }
    a {
      margin-top: 8px;
      font-size: 12px;
      font-weight: 500;
      color: color.$text-700;
      text-align: center;
      &:hover {
        color: color.$text-500;
      }
    }
  }
  .auth-modal.demo {
    margin-top: 40px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      font-size: 21px;
      margin-bottom: 0;
    }
    p {
      margin: 12px 0 18px;
    }
    button {
      height: 32px;
    }
  }
}
