@use '../utilities/colors';
@use '../utilities/mixins';

section#settings {
  padding: 40px;
  width: min-content;
  margin-bottom: 125px;
  .header {
    margin-bottom: 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
      color: colors.$text-100;
    }
    .actions {
      display: flex;
      & > * {
        margin-left: 12px;
      }
      button.inverted.icon-only span {
        font-size: 26px;
      }
    }
  }
  .settings-group {
    color: colors.$text-100;
    width: 440px;
    &:not(:last-child) {
      margin-bottom: 80px;
    }

    h2 {
      font-size: 18px;
      margin-bottom: 1em;
      font-weight: 500;
    }
    p.lead {
      font-size: 15px;
      margin-bottom: 32px;
    }
    p.notes {
      font-size: 13px;
      font-style: italic;
      margin-top: 32px;
    }
    .setting {
      margin-bottom: 12px;
      display: grid;
      grid-template-columns: 140px auto;
      align-items: center;
      span.label {
        font-size: 14px;
      }
      &.address {
        span.label {
          align-self: flex-start;
          margin-top: 12px;
        }
        .input-wrapper {
          .input-row {
            margin-bottom: 12px;
            display: flex;
            gap: 12px;
            input {
              @include mixins.input;
              height: 40px;
              border-radius: 6px;
              color: colors.$text-300;
              border: 1px solid colors.$border;
              font-size: 14px;
              padding: 12px 16px;
              outline: none;
              flex-grow: 1;
              &.error {
                border-color: colors.$danger;
                background-color: colors.$danger-light;
              }
              &#postalCode {
                width: 92px;
              }
            }
          }
        }
      }
    }
  }
}
