// UTILITIES
@use 'utilities/colors' as color;
@use 'utilities/mixins' as mixin;

// GOOGLE FONTS
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap&family=Material+Icons");

// RESET

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// GENERAL

body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
  padding: 0 40px;
}

.container {
  margin: 0 auto;
  // max-width: 1400px;
  min-width: 1140px;
  overflow: hidden;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 1;
  z-index: 9;
  background-color: #fff;
  &.dark {
    background-color: #000;
  }
  &.transparent {
    opacity: 0.35;
  }
  &.invisible {
    opacity: 0;
  }
}

main {
  display: flex;
  & > section {
    flex-grow: 1;
  }
}

section {
  border-radius: 20px;
  border: 1px solid color.$border;
  padding: 22px;
  margin-bottom: 40px;
}

aside {
  width: 264px;
  margin-left: 40px;
  &,
  & > * {
    transition: all 260ms ease-in;
  }
  &.hidden {
    margin-left: -264px;
    & > * {
      opacity: 0;
      transform: translateX(304px); // width + margin-left
      position: relative;
    }
  }
}

p {
  color: color.$text-300;
  font-size: 14px;
  line-height: 1.5;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  transition: all 120ms ease;
}

button.baseButton {
  height: 40px;
  padding: 0 18px;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  background-color: color.$main;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  white-space: nowrap;
  &:disabled {
    opacity: 0.5;
    cursor: default;
  }
  &:hover:not(:disabled) {
    background-color: darken(color.$main, 5%);
  }
  &:active {
    background-color: darken(color.$main, 10%);
  }
  span {
    font-size: 22px;
    margin-right: 8px;
  }
  &.inverted {
    border: 1px solid color.$main;
    background: none;
    &:hover:not(:disabled) {
      background-color: color.$select;
    }
  }
  &.icon-only {
    width: 40px;
    span {
      margin-right: 0;
      color: color.$main;
      &.flipped {
        transform: scaleX(-100%);
      }
    }
  }
}

// UI
.badge.red {
  @include mixin.badge;
  .outer {
    @include mixin.badgeOuter;
    background-color: color.$red-light;
    border-color: color.$red;
    .inner {
      @include mixin.badgeInner;
      background-color: color.$red;
    }
  }
}
.badge.orange {
  @include mixin.badge;
  .outer {
    @include mixin.badgeOuter;
    background-color: color.$orange-light;
    border-color: color.$orange;
    .inner {
      @include mixin.badgeInner;
      background-color: color.$orange;
    }
  }
}
.badge.yellow {
  @include mixin.badge;
  .outer {
    @include mixin.badgeOuter;
    background-color: color.$yellow-light;
    border-color: color.$yellow;
    .inner {
      @include mixin.badgeInner;
      background-color: color.$yellow;
    }
  }
}
.badge.green {
  @include mixin.badge;
  .outer {
    @include mixin.badgeOuter;
    background-color: color.$green-light;
    border-color: color.$green;
    .inner {
      @include mixin.badgeInner;
      background-color: color.$green;
    }
  }
}
.badge.blue {
  @include mixin.badge;
  .outer {
    @include mixin.badgeOuter;
    background-color: color.$blue-light;
    border-color: color.$blue;
    .inner {
      @include mixin.badgeInner;
      background-color: color.$blue;
    }
  }
}
.badge.purple {
  @include mixin.badge;
  .outer {
    @include mixin.badgeOuter;
    background-color: color.$purple-light;
    border-color: color.$purple;
    .inner {
      @include mixin.badgeInner;
      background-color: color.$purple;
    }
  }
}

.badge.large {
  cursor: pointer;
  .outer {
    min-width: 22px;
    height: 22px;
    .inner {
      width: 12px;
      height: 12px;
      margin-left: 5px;
    }
  }
}

.status-picker-wrapper {
  position: relative;
  .status-picker-dropdown {
    margin-top: 12px;
    position: absolute;
    left: 7px;
    padding: 8px 12px;
    background-color: #fff;
    border: 1px solid color.$border;
    border-radius: 12px;
    z-index: 99;
    box-shadow: 0 24px 48px rgba(0, 0, 0, 0.12);
    .badge {
      display: flex;
      flex-direction: column;
      width: min-content;
      margin-left: 0 !important;
      padding: 4px 0;
      transition: transform 120ms ease;
      &:hover:not(.active) {
        transform: translateX(3px);
      }
      &.active {
        opacity: 0.35;
        cursor: default;
      }
    }
  }
}

.switch-wrapper {
  background-color: color.$main-light;
  display: flex;
  color: #fff;
  font-size: 14px;
  height: 40px;
  width: min-content;
  letter-spacing: 0.05em;
  position: relative;
  border-radius: 6px;
  cursor: pointer;
  .switch-control {
    padding: 0 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    &.fixed {
      padding: 0;
      width: 40px;
    }
  }
  .indicator {
    position: absolute;
    background-color: color.$main;
    border-radius: 6px;
    height: 100%;
    left: 0%;
  }
}

// Base Switch {
.base-select {
  height: 40px;
  width: 100%;
  border-radius: 6px;
  color: color.$text-300;
  border: 1px solid color.$border;
  font-size: 14px;
  padding: 11px 12px 12px 14px;
  outline: none;
  appearance: none;
  cursor: pointer;
  &.error {
    border-color: color.$danger;
    background-color: color.$danger-light;
  }
}

// AUTH
.auth {
  background: #f5f5f5;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  .logo {
    width: 220px;
    margin: 80px auto;
    img {
      width: 100%;
    }
  }
  .auth-modal {
    padding: 40px 60px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 24px 48px rgba(0, 0, 0, 0.12);
    width: 360px;
    margin: 0 auto;
    h1 {
      font-size: 24px;
      font-weight: 500;
      color: color.$text-100;
      text-align: center;
      margin-bottom: 40px;
    }
    p {
      text-align: center;
      margin-bottom: 40px;
      font-size: 14px;
      margin-top: -22px;
      &.error {
        color: color.$danger;
        font-size: 13px;
        margin-bottom: 12px;
      }
    }
    form {
      display: flex;
      flex-direction: column;
      input {
        height: 40px;
        width: 100%;
        border-radius: 20px;
        border: 1px solid color.$border;
        font-size: 12px;
        padding: 0 20px;
        outline: none;
        margin-bottom: 12px;
        &.error {
          border-color: color.$danger;
          background-color: color.$danger-light;
        }
        &::placeholder {
          color: color.$text-700;
        }
      }
    }
    a {
      margin-top: 8px;
      font-size: 12px;
      font-weight: 500;
      color: color.$text-700;
      text-align: center;
      &:hover {
        color: color.$text-500;
      }
    }
  }
  .auth-modal.demo {
    margin-top: 40px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      font-size: 21px;
      margin-bottom: 0;
    }
    p {
      margin: 12px 0 18px;
    }
    button {
      height: 32px;
    }
  }
}

// HEADER
header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 32px 0;
  div#logo {
    img {
      height: 15px;
    }
  }
  nav {
    margin-left: 100px;
    font-weight: 500;
    font-size: 16px;
    ul {
      list-style: none;
      display: flex;
      li {
        margin-right: 60px;
        a {
          color: color.$main-light;
          &:hover,
          &.router-link-active {
            color: color.$main;
          }
        }
      }
    }
  }
  #profile {
    margin-left: auto;
    display: flex;
    cursor: pointer;
    .profile-info {
      display: flex;
      text-align: right;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
      .profile-name {
        color: color.$text-100;
        font-weight: 600;
        font-size: 14px;
        margin-bottom: 2px;
      }
      .profile-account {
        color: color.$text-700;
        font-weight: 400;
        font-size: 10px;
      }
    }
    .profile-avatar {
      margin-left: 14px;
      width: 40px;
      height: 40px;
      background-color: #e3a948;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      span {
        font-size: 24px;
        color: #fff;
      }
    }
  }
}

// ACTIONBAR
div.actionbar {
  padding: 20px 0;
  display: flex;
  justify-content: flex-start;
  div.search {
    width: 360px;
    min-width: 200px;
    display: flex;
    align-items: center;
    position: relative;
    input {
      height: 40px;
      width: 100%;
      border-radius: 20px;
      border: 1px solid color.$border;
      font-size: 12px;
      padding: 0 40px 0 20px;
      outline: none;
      &::placeholder {
        color: color.$text-500;
      }
    }
    span {
      position: absolute;
      font-size: 20px;
      color: color.$text-500;
      right: 16px;
      &.clear {
        cursor: pointer;
      }
    }
  }
  .filter {
    margin-left: 40px;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    color: color.$main;
    overflow-y: scroll;
    .badge {
      margin-left: 12px;
    }
    span.clear {
      font-size: 18px;
      margin-left: 12px;
      color: color.$text-500;
      cursor: pointer;
    }
  }
  .actions {
    display: flex;
    margin-left: auto;
    padding-left: 40px;
    & > *:not(:first-child) {
      margin-left: 12px;
    }
  }
}

// EMPLOYEELIST
section#employeelist {
  padding-bottom: 8px;
  .header {
    @include mixin.employeeListGrid;
    padding-bottom: 16px;
    font-size: 16px;
    font-weight: 700;
    color: color.$text-100;
  }
  .row {
    @include mixin.employeeListGrid;
    font-size: 14px;
    font-weight: 400;
    color: color.$text-500;
    margin: 0 -12px;
    padding: 0 12px;
    border-radius: 3px;
    cursor: pointer;
    .name {
      font-size: 16px;
      font-weight: 500;
      color: color.$main;
    }
    .note {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    &:hover {
      background-color: color.$select;
    }
  }
}

// EDIT MODAL
div.edit-modal {
  .modal {
    @include mixin.baseModal;
    overflow: hidden;
    width: 515px;
    .header {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 40px;
      h1 {
        font-size: 24px;
        font-weight: 500;
        color: color.$text-100;
      }
      .badge {
        margin-left: 20px;
      }
      span.material-icons {
        margin-left: auto;
        cursor: pointer;
        color: color.$text-700;
      }
    }
    .main {
      .form-control {
        display: grid;
        grid-template-columns: 92px auto;
        align-items: center;
        margin-bottom: 12px;
        &.note {
          margin-bottom: 0;
        }
        label {
          font-weight: 500;
          color: color.$text-100;
          font-size: 14px;
          &[for="note"],
          &[for="place"] {
            align-self: flex-start;
            margin-top: 12px;
          }
        }
        input,
        textarea {
          width: 100%;
          border-radius: 6px;
          color: color.$text-300;
          border: 1px solid color.$border;
          font-size: 14px;
          padding: 12px 16px;
          outline: none;
          &.error {
            border-color: color.$danger;
            background-color: color.$danger-light;
          }
        }
        input {
          height: 40px;
        }
        textarea {
          font-family: inherit;
          height: 140px;
          resize: none;
          line-height: 1.4;
        }
        .suggestions {
          display: flex;
          flex-wrap: wrap;
          margin-top: 8px;
          margin-bottom: 14px;
          & > span {
            background-color: color.$main-light;
            border-radius: 3px;
            font-weight: 500;
            font-size: 13px;
            color: #fff;
            margin: 0 5px 5px 0;
            padding: 3px 5px;
            max-width: 100%;
            user-select: none;
            cursor: pointer;
            &:hover {
              background-color: darken(color.$main-light, 7%);
            }
            &.add {
              background-color: lighten(color.$main-light, 4%);
              position: relative;
              padding-left: 22px;
              span.material-icons {
                position: absolute;
                left: 5px;
                top: 3px;
                font-size: 15px;
                font-weight: 700;
              }
              &:hover {
                background-color: color.$main-light;
              }
            }
          }
        }
      }
      .form-control-contract {
        display: flex;
        justify-content: space-between;
        input {
          width: 67px;
          padding: 0;
          text-align: center;
        }
        span.input-label {
          margin-left: 12px;
          font-size: 14px;
          color: color.$text-300;
        }
      }
      .form-control-date {
        display: flex;
        justify-content: space-between;
        input#date {
          width: 103px;
          text-align: center;
          padding: 0;
        }
        .form-control-time {
          span.input-label-main {
            font-weight: 500;
            color: color.$text-100;
            font-size: 14px;
            margin-right: 14px;
          }
          input.time {
            width: 67px;
            text-align: center;
            padding: 0;
          }
          span.input-label {
            margin: 0 12px;
            font-size: 14px;
            color: color.$text-300;
          }
        }
      }
      .form-actions {
        margin-top: 32px;
        display: flex;
        justify-items: flex-start;
        button.delete {
          width: 40px;
          height: 40px;
          border: none;
          outline: none;
          border-radius: 20px;
          background-color: color.$danger-light;
          color: color.$danger;
          &:hover {
            background-color: darken(color.$danger-light, 5%);
          }
          span {
            font-size: 18px;
          }
        }
        button.secondary {
          margin-left: auto;
          background: none;
          border: none;
          outline: none;
          font-size: 14px;
          color: color.$text-500;
          margin-right: 32px;
          &:hover {
            color: darken(color.$text-500, 12%);
          }
          &:active {
            color: darken(color.$text-500, 24%);
          }
        }
      }
    }
  }
}

.confirm {
  width: min-content !important;
  text-align: center;
  padding: 32px 40px 24px !important;
  white-space: nowrap;
  .header {
    justify-content: center !important;
    margin-bottom: 0 !important;
  }
  .main {
    margin: 24px 0 30px;
  }
  .form-actions {
    margin-top: 0 !important;
    justify-content: center;
    button.secondary {
      margin-left: 0 !important;
    }
  }
}

// PLANNER
section#planner {
  padding-bottom: 8px;
  .header {
    @include mixin.plannerGrid;
    text-align: center;
    font-size: 16px;
    .dayWrapper {
      display: flex;
      flex-direction: column;
      span.dayName {
        font-size: 14px;
        font-weight: 700;
        color: color.$text-100;
        margin-bottom: 6px;
      }
      span.date {
        font-size: 11px;
        color: color.$text-500;
      }
    }
  }
  .row {
    @include mixin.plannerGrid;
    align-items: center;
    margin-bottom: 8px;
    .employee {
      display: flex;
      flex-direction: column;
      span.name {
        font-size: 14px;
        font-weight: 700;
        color: color.$main;
        margin-bottom: 4px;
      }
      span.hours {
        font-size: 11px;
        color: color.$text-500;
      }
    }
    .day {
      height: 100%;
      border-radius: 3px;
      position: relative;
      padding: 6px;
      cursor: pointer;
      &.active.hidden {
        opacity: 0.15;
      }
      &.active {
        background-color: color.$select;
        transition: background-color 60 ease-in-out;
        &.management {
          background-color: color.$blue-light;
          &:hover {
            background-color: darken(color.$blue-light, 5%);
          }
        }
        &.leadership {
          background-color: color.$green-light;
          &:hover {
            background-color: darken(color.$green-light, 5%);
          }
        }
        &.general {
          background-color: color.$yellow-light;
          &:hover {
            background-color: darken(color.$yellow-light, 5%);
          }
        }
        &.restaurant {
          background-color: color.$purple-light;
          &:hover {
            background-color: darken(color.$purple-light, 5%);
          }
        }
        &.cleaning {
          background-color: color.$orange-light;
          &:hover {
            background-color: darken(color.$orange-light, 5%);
          }
        }
      }
      &:hover:not(.active) {
        opacity: 0.65;
        background-color: lighten(color.$border, 10%);
        border: 1px solid color.$border;
        &::after {
          font-family: "Material Icons";
          content: "add";
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translateX(-50%) translateY(-50%);
          color: color.$text-700;
          font-size: 18px;
        }
      }
      .shift-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        text-align: center;
        span {
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          &.place {
            font-size: 12px;
            font-weight: 700;
            color: color.$text-100;
            margin-bottom: 6px;
            letter-spacing: 0.02em;
          }
          &.time {
            font-size: 12px;
            color: color.$main;
          }
        }
      }
    }
  }
}

// EMPTY WEEK
.empty-week {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 60px 0;
  h1 {
    color: color.$text-100;
    font-weight: 500;
    margin-bottom: 12px;
    font-size: 28px;
  }
  h5 {
    font-size: 14px;
    color: color.$text-500;
    font-weight: 400;
  }
  p {
    margin: 32px 0 60px;
    font-size: 16px;
    line-height: 1.6;
  }
  .action-wrapper {
    display: flex;
    justify-content: space-between;
    div {
      width: 260px;
      height: 68px;
      margin: 0 20px;
    }
    .action {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(color.$select, 0.5);
      border: 1px solid color.$border;
      color: color.$text-700;
      font-weight: 500;
      cursor: pointer;
      transition: all 120ms ease;
      &.transparent {
        opacity: 0.35;
        &:hover {
          opacity: 1;
        }
      }
      span {
        margin-right: 14px;
        font-size: 21px;
      }
      &:hover {
        background-color: color.$select;
      }
    }
    .copy-week-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      select {
        width: min-content;
      }
      button {
        margin-left: 20px;
      }
    }
  }
}

// Planner Calendar
.plannerCalendar {
  width: 100%;
  & > div {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
  }
  #header {
    display: flex;
    justify-content: space-between;
    margin: 0.35em 0;
    span {
      cursor: pointer;
      position: relative;
      bottom: 3px;
    }
    h2 {
      font-weight: 500;
      text-align: center;
      font-size: 16px;
      cursor: pointer;
    }
  }

  #days {
    margin: 1.35em 0 0.5em;
    span {
      color: color.$main;
      font-size: 12px;
      font-weight: 700;
    }
  }

  .dates {
    position: relative;
    p {
      cursor: pointer;
      font-size: 11px;
      color: color.$main;
      line-height: 2.5;
      &.prev-month,
      &.next-month {
        color: color.$main-light;
        cursor: default;
      }
      &.current-date {
        font-weight: 900;
        color: color.$danger;
      }
      &.selected::before {
        content: "";
        display: block;
        border-radius: 6px;
        position: absolute;
        width: 100%;
        height: 27px;
        left: 0;
        background-color: color.$select;
        z-index: -1;
      }
      &:not(.prev-month):not(.next-month):hover::after {
        content: "";
        display: block;
        border-radius: 6px;
        position: absolute;
        width: 100%;
        height: 27px;
        transform: translateY(-27px);
        left: 0;
        background-color: color.$select;
        z-index: -1;
      }
    }
  }
}
