@use 'colors';
@use 'mixins';

// UI
.badge.red {
  @include mixins.badge;
  .outer {
    @include mixins.badgeOuter;
    background-color: colors.$red-light;
    border-color: colors.$red;
    .inner {
      @include mixins.badgeInner;
      background-color: colors.$red;
    }
  }
}
.badge.orange {
  @include mixins.badge;
  .outer {
    @include mixins.badgeOuter;
    background-color: colors.$orange-light;
    border-color: colors.$orange;
    .inner {
      @include mixins.badgeInner;
      background-color: colors.$orange;
    }
  }
}
.badge.yellow {
  @include mixins.badge;
  .outer {
    @include mixins.badgeOuter;
    background-color: colors.$yellow-light;
    border-color: colors.$yellow;
    .inner {
      @include mixins.badgeInner;
      background-color: colors.$yellow;
    }
  }
}
.badge.green {
  @include mixins.badge;
  .outer {
    @include mixins.badgeOuter;
    background-color: colors.$green-light;
    border-color: colors.$green;
    .inner {
      @include mixins.badgeInner;
      background-color: colors.$green;
    }
  }
}
.badge.blue {
  @include mixins.badge;
  .outer {
    @include mixins.badgeOuter;
    background-color: colors.$blue-light;
    border-color: colors.$blue;
    .inner {
      @include mixins.badgeInner;
      background-color: colors.$blue;
    }
  }
}
.badge.purple {
  @include mixins.badge;
  .outer {
    @include mixins.badgeOuter;
    background-color: colors.$purple-light;
    border-color: colors.$purple;
    .inner {
      @include mixins.badgeInner;
      background-color: colors.$purple;
    }
  }
}

.badge.large {
  user-select: none;
  cursor: pointer;
  .outer {
    min-width: 22px;
    height: 22px;
    .inner {
      width: 12px;
      height: 12px;
      margin-left: 5px;
    }
  }
}

.base-button {
  height: 40px;
  padding: 0 18px;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  background-color: colors.$main;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid transparent;
  outline: none;
  white-space: nowrap;
  &:hover:not(:disabled) {
    background-color: darken(colors.$main, 5%);
  }
  &:active:not(:disabled) {
    background-color: darken(colors.$main, 10%);
  }
  span {
    font-size: 22px;
    margin-right: 8px;
  }
  &:disabled {
    opacity: 0.5;
    cursor: default;
  }
  &:focus {
    background-color: colors.$select;
    border-color: colors.$main;
    color: colors.$main;
  }
  &.secondary {
    background: none;
    border: none;
    outline: none;
    font-size: 14px;
    color: colors.$text-500;
    font-weight: 500;
    &:hover {
      background: inherit;
      color: darken(colors.$text-500, 12%);
    }
    &:active {
      background: inherit;
      color: darken(colors.$text-500, 24%);
    }
    &:focus {
      background-color: colors.$select;
    }
  }
  &.inverted {
    color: colors.$main;
    border: 1px solid colors.$main;
    background: none;
    &:hover {
      background-color: colors.$select;
    }
    &:active {
      background-color: darken(colors.$select, 5%);
    }
  }
  &.icon-only {
    width: 40px;
    span {
      margin-right: 0;
      &.flipped {
        transform: scaleX(-1);
      }
    }
  }
  &.danger {
    background-color: colors.$danger-light;
    color: colors.$danger;
    font-size: 18px;
    &:hover {
      background-color: darken(colors.$danger-light, 5%);
    }
    span {
      font-size: 18px;
    }
  }
}

.base-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 32px 40px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 24px 48px rgba(0, 0, 0, 0.12);
  min-width: 515px;
  z-index: 2;
  &.tight {
    min-width: 0;
    width: min-content;
    .header {
      margin-bottom: 24px;
    }
    .actions {
      margin-top: 32px;
    }
  }
  &.centered {
    text-align: center;
    white-space: nowrap;
    & > div {
      justify-content: center;
    }
  }
  .header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 40px;
    h1 {
      font-size: 24px;
      font-weight: 500;
      color: colors.$text-100;
    }
    span.material-icons {
      margin-left: auto;
      cursor: pointer;
      color: colors.$text-700;
      &:hover {
        color: colors.$text-500;
      }
    }
  }
  .actions {
    margin-top: 40px;
    display: flex;
    justify-content: flex-end;

    button {
      &:not(:first-child) {
        margin-left: 12px;
      }
      &.left {
        margin-right: auto;
      }
    }
  }
}

.base-dropdown {
  position: relative;
  .input,
  .dropdown {
    background: #fff;
    width: 100%;
    border-radius: 6px;
    color: colors.$text-300;
    border: 1px solid colors.$border;
    font-size: 14px;
  }
  .input-wrapper {
    .input {
      @include mixins.input;
      position: relative;
      height: 40px;
      display: flex;
      align-items: center;
      padding: 0 36px 0 16px;
      cursor: pointer;
      outline: none;
      &.error {
        border-color: colors.$danger;
        background-color: colors.$danger-light;
      }
    }
    &::after {
      font-family: 'Material Icons';
      content: 'expand_more';
      position: absolute;
      height: 100%;
      display: flex;
      align-items: center;
      top: 0;
      right: 12px;
      color: colors.$text-100;
      font-size: 18px;
      pointer-events: none;
    }
    &:not(.enableSearch).focus:after {
      transform: rotate(180deg);
    }
    &.enableSearch {
      &:after {
        content: 'search';
      }
    }
  }

  .dropdown {
    border: 1px solid colors.$border;
    overflow-y: scroll;
    margin-top: 6px;
    max-height: 223px;
    position: absolute;
    z-index: 9;
    box-shadow: 0 24px 48px rgba(0, 0, 0, 0.12);
    .dropdown-inner {
      position: relative;
      .item {
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 16px;
        user-select: none;
        &.no-match {
          color: colors.$text-700;
        }
        &.active,
        &:not(.no-match):hover {
          cursor: pointer;
          background-color: colors.$select;
        }
        span.status {
          font-size: 12px;
          color: colors.$text-300;
          padding: 0.2em 0.35em;
          font-weight: 500;
          border-radius: 4px;
          &.active {
            display: none;
          }
          &.sick {
            color: colors.$purple;
            background-color: colors.$purple-light;
          }
          &.unavailable {
            color: colors.$yellow;
            background-color: colors.$yellow-light;
          }
          &.inactive {
            color: colors.$orange;
            background-color: colors.$orange-light;
          }
          &.staged {
            color: colors.$blue;
            background-color: colors.$blue-light;
          }
        }
      }
    }
  }
}

.base-date-picker {
  position: relative;
  input,
  .calendar {
    background: #fff;
    width: 100%;
    border-radius: 6px;
    color: colors.$text-300;
    border: 1px solid colors.$border;
  }
  input {
    @include mixins.input;
    position: relative;
    font-size: 14px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    padding: 0 12px !important;
    text-align: center;
    min-width: min-content;
    white-space: nowrap;
    user-select: none;
    &.error {
      border-color: colors.$danger;
      background-color: colors.$danger-light;
    }
  }
  .calendar {
    width: 264px;
    padding: 16px;
    border: 1px solid colors.$border;
    margin-top: 6px;
    position: absolute;
    z-index: 9;
    box-shadow: 0 24px 48px rgba(0, 0, 0, 0.12);
  }
}

.base-calendar {
  width: 100%;
  user-select: none;
  & > div {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
  }
  #header {
    display: flex;
    justify-content: space-between;
    margin: 0.35em 0;
    span {
      cursor: pointer;
      position: relative;
      bottom: 3px;
      color: colors.$main;
      opacity: 0.65;
      transition: all 240ms ease;
      &:hover {
        opacity: 1;
      }
    }
    h2 {
      font-weight: 500;
      text-align: center;
      font-size: 16px;
      color: colors.$main;
      cursor: pointer;
    }
  }

  #days {
    margin: 1.35em 0 0.5em;
    span {
      color: colors.$main;
      font-size: 12px;
      font-weight: 700;
    }
  }

  .dates {
    position: relative;
    p {
      cursor: pointer;
      font-size: 11px;
      color: colors.$main;
      line-height: 2.5;
      position: relative;
      &.prev-month,
      &.next-month {
        color: colors.$main;
        opacity: 0.15;
        cursor: default;
      }
      &.current-date {
        font-weight: 900;
        color: colors.$danger;
      }
    }
  }

  #months {
    margin-top: 16px;
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(3, 1fr);
    span {
      border: 1px solid transparent;
      background-color: colors.$select;
      border-radius: 3px;
      color: colors.$main;
      padding: 8px 0;
      font-weight: 600;
      font-size: 12px;
      cursor: pointer;
      &.current {
        border: 1px solid colors.$main-light;
        background-color: transparent;
        color: colors.$main;
      }
      &:hover {
        background-color: colors.$main;
        color: #fff;
      }
    }
  }
}

// Styles for picker mode

.base-calendar.picker {
  .dates {
    & p:not(.prev-month):not(.next-month) {
      &:hover,
      &.active {
        &::after {
          content: '';
          display: block;
          position: absolute;
          height: 24px;
          width: 28px;
          border-radius: 6px;
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%);
          background-color: lighten(colors.$blue-light, 6%);
          border: 1px solid colors.$blue;
          z-index: -1;
        }
      }
    }
    &:hover p:not(:hover).active::after {
      opacity: 0.5;
    }
  }
  #months {
    &:not(:hover) {
      span.active {
        background-color: colors.$main;
        color: #fff;
      }
    }
  }
}

.status-picker-wrapper {
  position: relative;
  .status-picker-dropdown {
    margin-top: 12px;
    position: absolute;
    left: 7px;
    padding: 8px 12px;
    background-color: #fff;
    border: 1px solid colors.$border;
    border-radius: 12px;
    z-index: 99;
    box-shadow: 0 24px 48px rgba(0, 0, 0, 0.12);
    .badge {
      display: flex;
      flex-direction: column;
      width: min-content;
      margin-left: 0 !important;
      padding: 4px 0;
      transition: transform 120ms ease;
      &:hover:not(.active) {
        transform: translateX(3px);
      }
      &.active {
        opacity: 0.35;
        cursor: default;
      }
    }
  }
}

.switch-wrapper {
  position: relative;
  background-color: colors.$main-light;
  border-radius: 6px;
  height: 40px;
  font-size: 14px;
  color: #fff;
  letter-spacing: 0.05em;
  width: min-content;
  user-select: none;
  cursor: pointer;
  transition: box-shadow 80ms;
  &:focus {
    outline: none;
    box-shadow: 0 0 0 1px lighten(colors.$main, 35%) inset;
  }
  & > div {
    display: flex;
    height: 100%;
    width: min-content;
    cursor: pointer;
    .switch-control {
      padding: 0 22px;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 0;
      &.toggle {
        span {
          pointer-events: none;
          font-size: 18px;
        }
      }
      &.fixed {
        padding: 0;
        width: 40px;
      }
    }
  }
  .indicator {
    position: absolute;
    background-color: colors.$main;
    border-radius: 6px;
    height: 100%;
    left: 0%;
  }
}
